<app-header-dashboard></app-header-dashboard>
<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <p-card>
                    <div class=" piex">
                        <p-chart type="pie" [data]="data" [options]="options"></p-chart>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4">
                <p-card>
                    <div class=" chartx">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>



